@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.skyline {
	width: 85%;
}

.profile {
	width: 35vmin;
  display: flex;
	align-items: center;
	justify-content: center;
  margin: 0 auto;
  margin-top: -35vmin;
	filter: drop-shadow(0 6mm 4mm gray);
}

.Hello{
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5vmin;
}
.ProfileDescription{
  font-family: 'Italiana', serif;
  font-size: 3vmin;
}

.ProfileDescriptionContainer{
  width: 50%;
  margin: 0 auto;
}

.signature{
  height: 10vmin;
  margin-bottom: -4vmin;
}

.About{
  display: flex;
  justify-content:center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.aboutme{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: -40vmin;
  width: 50%;
  font-family: 'Italiana', serif;
  font-size: 3vmin;
  background-color: #FFF;
  opacity: .8;
  border-radius: 6vmin;
}

.github-projects{
  width: 3vmin;
  border-radius: 100%;
}

.github-projects:hover{
  background-color:#4978DF;
  filter: invert(100%)
}

.project-link:hover{
  color: #E5BF6D;
}
/* .profile and .about, .aboutme media query under 1300 */